// Breakpoints

$webDesktop: 1025px;
$webLarge: 1600px;
$webXLarge: 1824px;
$webXXLarge: 1920px;
 
$small:600px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1440px;

// Colors
$primary: #ffcb05;
$grey: #212121;
$grey1: #ecf0f3;
$grey2: #eef2f5;
$grey3: #e0e0de;
$dark-grey: #242324;
$light-grey: #393839;
$black: #171717;
$white: #ffffff;
$red: #ed1c24;
$light-red: #ff5e5e;
$success: #64d48b;
