@import "@styles/mixins";
@import "@styles/variables";

.imageButton {
  padding: rem(12) rem(16);
  color: $grey;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: rem(1);
  font-family: inherit;
  border-radius: rem(6);
  transition: all 0.3s ease;
  border-width: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(48);

  @include breakpoint($medium) {
    height: rem(56);
    font-size: rem(16);
    line-height: rem(20);
  }

  &.homeFilterButton {
    min-width: 95%;
    font-size: rem(10);
    @include breakpoint($medium) {
      font-size: rem(12);
    }
    @include breakpoint($webDesktop) {
      font-size: rem(16);
    }

    .imageButtonContent {
      flex-direction: column;
      @include breakpoint($webDesktop) {
        flex-direction: row;
      }
    }

    .imageButtonIcon {
      margin-bottom: rem(10);
      @include breakpoint($medium) {
        margin: 0;
        margin-right: rem(16);
      }
    }
  }

  &Icon {
    display: inline-flex;
    svg {
      width: rem(24);
      height: rem(24);
      @include breakpoint($large) {
        width: rem(30);
        height: rem(30);
      }
    }
  }

  .imageButtonContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    margin-left: rem(8);
    b {
      margin-right: rem(8);
    }
  }
}

.grey {
  background-color: $grey1;
  &:hover {
    background-color: $grey2;
  }
  &:focus {
    background-color: $primary;
  }
}

.yellow {
  background-color: $primary;
}

.primary {
  background-color: $primary;

  &:hover {
    background-color: $grey2;
  }
  &:focus {
    background-color: $primary;
  }
}

.weightBold {
  font-weight: 700;
}
